<html>
<head>
<title>activity_help1.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_help1.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">LinearLayout</span>
    <span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span>
    <span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span>
    <span class="s1">tools:context=</span><span class="s3">&quot;.Help1&quot;</span>&gt;
    &lt;<span class="s4">TextView</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
        <span class="s1">android:text=</span><span class="s3">&quot;LAST ORDER&quot;</span>
        <span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span>
        <span class="s1">android:textColor=</span><span class="s3">&quot;#000&quot;</span>/&gt;
    &lt;<span class="s4">View</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;1dp&quot;</span>
        <span class="s1">android:background=</span><span class="s3">&quot;#000000&quot;</span>/&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
        <span class="s1">android:text=</span><span class="s3">&quot;ADDITIONAL TOPICS&quot;</span>
        <span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span>
        <span class="s1">android:textColor=</span><span class="s3">&quot;#000&quot;</span>
        <span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot; </span>/&gt;
    &lt;<span class="s4">View</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;1dp&quot;</span>
        <span class="s1">android:background=</span><span class="s3">&quot;#000000&quot;</span>/&gt;
    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id=</span><span class="s3">&quot;@+id/pastorders&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
        <span class="s1">android:text=</span><span class="s3">&quot;past orders&quot;</span>
        <span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span>
        <span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot; </span>/&gt;
    &lt;<span class="s4">View</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;1dp&quot;</span>
        <span class="s1">android:background=</span><span class="s3">&quot;#000&quot;</span>/&gt;
    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id=</span><span class="s3">&quot;@+id/accandpay&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
        <span class="s1">android:text=</span><span class="s3">&quot;Account and payment options&quot;</span>
        <span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span>
        <span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot; </span>/&gt;
    &lt;<span class="s4">View</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;1dp&quot;</span>
        <span class="s1">android:background=</span><span class="s3">&quot;#000000&quot;</span>/&gt;
    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id=</span><span class="s3">&quot;@+id/guidmyfood&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
        <span class="s1">android:text=</span><span class="s3">&quot;Guide to My Food&quot;</span>
        <span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span>
        <span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot; </span>/&gt;


    &lt;<span class="s4">View</span>
        <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s3">&quot;1dp&quot;</span>
        <span class="s1">android:background=</span><span class="s3">&quot;#000000&quot;</span>/&gt;

&lt;/<span class="s4">LinearLayout</span>&gt;</pre>
</body>
</html>